.content {
    flex: 1;
    padding: 40px;
    margin-left: 260px;
    padding: 28px 36px;
}

/* ---------------------- */
/* HEADER */
/* ---------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.btn-primary {
   background: linear-gradient(90deg, #0284c7, #0ea5e9);
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.btn-secondary {
    background: #e5e7eb;
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/* ---------------------- */
/* FILTERS */
/* ---------------------- */

.filters {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 6px 14px;
    background: #f3f4f6;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.filter-btn.active {
    background: #2563eb;
    color: white;
}

/* ---------------------- */
/* GOAL CARD */
/* ---------------------- */

.goals-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.goal-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #e5e7eb;
}

.goal-header h3 {
    margin-bottom: 5px;
}

.goal-info {
    font-size: 14px;
    color: #6b7280;
    margin-top: 8px;
    display: flex;
    gap: 18px;
}

/* Progress bar */
.progress-container {
    margin-top: 14px;
}

.progress-bar {
    height: 8px;
    background: #e5e7eb;
    border-radius: 20px;
}

.progress-bar-fill {
    height: 8px;
    background: #2563eb;
    width: 0%;
    border-radius: 20px;
    transition: width 0.3s;
}

.progress-buttons {
    display: flex;
    gap: 6px;
    margin-top: 10px;
}

.progress-buttons button {
    flex: 1;
    padding: 6px;
    font-size: 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    cursor: pointer;
}

/* ---------------------- */
/* MODAL */
/* ---------------------- */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 25px;
    width: 380px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content input,
.modal-content select,
.modal-content textarea {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
}

.w-full {
    width: 100%;
}
